<launch>
	<arg name="simrobot" default="false"/>
        <arg name="image" default="/camera/image"/>
	<arg name="enableUWSim" default="false" />
	<arg name="enableRviz" default="false" />
	<arg name="enableShadders" default="true" />
	<arg name="sceneXml" default="pipeFollowing_basic.xml" />
	
	<arg name="enableSafety" default="false" />

	<arg name="localAddr" default="2"/>
	<arg name="remoteAddr" default="1"/>

	<arg name="runComms" default="true"/>
	<arg name="log2Console" default="false"/>

	<arg name="linkType" default="fulld"/>

	<group if="$(arg simrobot)">
		<include file="$(find cola2_g500)/launch/sim_g500_start.launch">
			<arg name="enableRviz" value="false"/>
			<arg name="enableSafety" value="$(arg enableSafety)"/>
		</include>
	</group>


        <remap from="/dataNavigator" to="/g500/ros_odom_to_pat" />

        <!-- Run UWSim -->
        <group if="$(arg enableUWSim)">
                <node if="$(arg enableShadders)" name="uwsim" pkg="uwsim" type="uwsim" args=" --configfile $(arg sceneXml) --dataPath $(find uwsim)/data/scenes/" respawn="false"/>
                <node unless="$(arg enableShadders)" name="uwsim" pkg="uwsim" type="uwsim" args=" --configfile $(arg sceneXml) --dataPath $(find uwsim)/data/scenes/ --disableShaders" respawn="false"/>
        </group>

	<!-- Run RViz -->
	<group if="$(arg enableRviz)">
		<param name="robot_description" textfile="$(find cola2_g500)/data/model/g500.urdf" />
		<node pkg="rviz" type="rviz" name="rviz" args="-d $(find cola2_g500)/scenes/rviz_g500_sim.rviz"/>
	</group>

	<group if="$(arg runComms)">
                <node pkg="wireless_ardusub" name="rov_v1" type="rov_v1" respawn="false"
		ns="/merbots/whrov" output="screen">
			<param name="remoteAddr" type="int" value="$(arg remoteAddr)"/>
			<param name="localAddr" type="int" value="$(arg localAddr)"/>
			<param name="image" value="$(arg image)"/>

			<param name="log2Console" value="$(arg log2Console)"/>
			<param name="linkType" type="str" value="$(arg linkType)"/>
		</node>
	</group>

</launch>
