<?xml version="1.0"?>

<launch>
  <!-- start the teleop app -->
  <arg name="namespace" default="/merbots/wrov/rov"/>
  <arg name="log2Console" default="true"/>
  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="log2File" default="false"/>
  <group ns="$(arg namespace)">
  	<node pkg="wireless_ardusub" type="rov_v3" name="rov_v3" output="screen" required="true">
		<param name="port" value="$(arg port)" type="string"/>
		<param name="log2Console" value="$(arg log2Console)" type="bool"/>
		<param name="log2File" value="$(arg log2File)" type="bool"/>
	</node>
  </group>
</launch>
